@media screen and (max-width: 480px) {
	.hide-on-mobile {
		display: none !important;
	}
}

@media all and (min-width: 481px) and (max-width: 991px) {
	.hide-on-tablet {
		display: none !important;
	}
}

@media only screen and (min-width: 992px) {
	.hide-on-desktop {
		display: none !important;
	}
}
